.clients {
    width: -webkit-fill-available;
    margin: 20px 50px 20px 50px;
}

.green {
    color: darkgreen;
}

.red {
    color: darkred;
}

.filtre {
    width: -webkit-fill-available;
    margin-left: 50px;
    margin-right: 50px;
}

.recherche {
    width: -webkit-fill-available;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
}

.select {
    width: fit-content;
}

tr:hover:not(#head) {
    opacity: 0.75;
}

thead {
    border-width: 2px;
}
